body{
	background-color: #990033;
	font-family: 'Oxygen', sans-serif;
}
#head-nav{
	background-color: #ff9933;
}

#logo-img{
	background: url('../images/ameylogo (2).jpeg') no-repeat;

	width: 150px;
	height: 150px;
	margin :10px 15px 10px 0;
}